@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-color: #3f5af3;
  --accent-color-hover: #657BF5;
  --background-box-color: #F2F3F4;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --webcreare-logo: url('/webcreare-logo-dark.webp');
  --navbar-background-color: var(--background-box-color);
  --paragraph-text-color: #414141;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: #02050A;
  --foreground: #ffffff;
  --accent-color: #3F5AF3;
  --accent-color-hover: #657BF5;
  --background-box-color: #11151C;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --webcreare-logo: url('/webcreare-logo-white.webp');
  --navbar-background-color: var(--background-box-color);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jakarta);
}

.leistungen::before {
    background: linear-gradient(270deg, rgba(63, 90, 243, .4) 0%, transparent 100%);
    content: "";
    width: 37px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@utility main-headline {
  @apply text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-[9rem]
}

@utility sub-headline {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-8xl
}
